<IfModule mod_rewrite.c>
  RewriteEngine On

  # Página de contato
  # RewriteRule ^contato/?$ /contato.php [NC,L]
  # Página de exibição de um produto
  # RewriteRule ^([a-z])/?$ /index.php?pageName=$1 [NC]

</IfModule>