#nav-top {
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    }

#nav-top ul li {
    border-right: 1px solid #ccc;
    /*padding: 1em;*/
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: rgba(153, 153, 153, 0.05);
    /*height: 100px;*/
    /*background: linear-gradient(to bottom, #fff, #555));*/
    padding: 3% 0;
    
  align-items: center;
  /*display: flex;*/
}

nav {
    font-family: Oswald;
}

header nav {
    text-transform: uppercase;
    font-size: 16pt;  
    /*padding-top: 15px;  */
}

header nav li a {
    color: #666;
}

header nav li a:hover {
    color: #555;
}

section {
    padding: 2% 0;
}

section hr {
    width: 100px;
    border: 2px solid rgba(0, 0, 255, 0.5);
}

ul.nav.nav-pills.navbar-right li a:hover {
    background: transparent;
}

#filia-se {
    background: #FDB932;
    border-bottom: 1px solid #FDB932;
    padding: 0;
    margin: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#associados > div > div {
    text-align: center;
}

#newsletter {
    /*background: #236E47;*/
    background-image: linear-gradient(to bottom, #fff, #D9EDF7);
    /*background: #555;*/
    /*color: #f5f5f5;*/
    padding: 10% 0;
    text-align: center;
}

footer {
    background:#D9EDF7;
    /*color:#fff;*/
    border-top: 1px solid #ccc;
    padding: 2% 0;
}

footer h4 {
    text-align: center;
}